<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainProject">
<parameter name="browzer" value="chrome"></parameter>
  <test thread-count="5" name="groceryapp">
   <classes>
     <!--  <class name="testclasses.ManagePrdt12TestM"> -->
      <class name="testClass.ManageCategoryTestM">
     </class>
    </classes>
  </test> <!-- groceryapp -->
</suite> <!-- Suite -->
